src/main/mule/sam.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="02e08261-c979-4e49-9e61-ea8b42e33b37" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="samFlow" doc:id="0d982397-96d8-4895-9077-f276ceab2cbf" >
		<http:listener doc:name="Listener" doc:id="9cf23aee-c364-4f59-8129-c697bf657d65" config-ref="HTTP_Listener_config" path="/sam"/>
		<logger level="INFO" doc:name="Logger" doc:id="6d3b6be0-8235-4728-bd35-b90a4897c399" message='#["success"]'/>
	</flow>
</mule>
